@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('fonts/League-Gothic-fontfacekit//League_Gothic-webfont.eot');
    src: url('fonts/League-Gothic-fontfacekit//League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/League-Gothic-fontfacekit//League_Gothic-webfont.woff') format('woff'),
         url('fonts/League-Gothic-fontfacekit//League_Gothic-webfont.ttf') format('truetype'),
         url('fonts/League-Gothic-fontfacekit//League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$header-font:'LeagueGothicRegular';
$panel:#26545c;
$subheader:#1b7e5a;
$promobox:#232323;
$button:#e76e66;


body{
background:url('images/bg.png');
}


p{
	color:#fff;
}


nav{margin-top:5%;
	
	ul{
		display:inline;
	}
	li{
		display:inline;
		margin-right:3%;
	}
	a{
		color:$button;
		text-transform:uppercase;
		letter-spacing:1px;
		&:hover{color:#292929;}
	}

   }

.panel{
	background:$panel;
	color:#fff;
	font-family:$header-font;
}

img{ /*Testing Don't forget to delete*/
	width:100%;
}

.subheader{
	font-family:$header-font;
	background:$subheader;
	color:#fff;
	padding:10px;
	letter-spacing:1px;

}

.subheader-footer{
	font-family:$header-font;
	font-weight:300;
	background:#26545c;
	color:#fff;
	padding:10px;
	letter-spacing:1px;

}

.promos{
	background:$promobox;
	padding-top:5px;
	padding-left:10px;
	padding-right:10px;
	margin-top:-14px;
}


.button.small{
	background:$button;
	border-color:#000;
	float:right; 
	a{
		&:hover{background:red;}
	}
}


@media screen and (max-width: 951px) {
  nav ul li a {
    font-size: 0.890em;
  }
}

@media screen and (max-width: 767px) {
  nav{
    margin-top:0;
    display:none;
  }
}

@media screen and (max-width: 551px) {
  .orbit-container{
    display:none;
  }
}

@media screen and (min-width: 551px) {
  .hidden{
    display:none;
  }
}

@media screen and (max-width: 550px) {
  .hidden{
    margin-top:1em;
  }

  nav{
  	margin-top:0;
  	display:none;
  }
}